.page { 
	display: none;
}

#master { 
   width:800px;
   padding:40px;
   height: 850px;
   display: block;
   background: white;
   margin-left: auto;
   margin-right: auto;
}

body { 
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	background: #eee;
}

.page { 
	background: #fff;
	width: 600px;
	float: left;
}

.room { 
	padding-bottom:5px
}

#rooms a { 
	display: block;
	float: left; 
	clear: both;
}

#users, #chat, #lobby { 
	float: left;
	width:200px;
}

.messages { 
	display: block;
	float: left;
	height: 500px;
	width: 100%;
	overflow:auto;
}

.chat_window { 
	width: 200px;
}
.chat_window { 
	overflow: auto;
}

.chat_window input { 
	display: block;
	float: left;
}

.user { 
	display: block;
	float: left;
	clear: both;
	color: blue;
	font-weight: bold;
}

#code { 
    overflow: hidden;
}

.message { 
	display: block;
	float: left;
}

#left { 
float: left;
width:600px;
}

#right { 
float:left;
width:200px;
}

#right > div { 
	padding: 5px;
}

#chat { 
   background: #ffe;
}

#users { 
	background: #efe;
}

#lobby { 
	background: #eef;
}


#editor_area { 
	border: 1px solid gray;
}
